@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

.slick-prev:before,
.slick-next:before {
  color: #10b981 !important;
  font-size: 24px !important;
}

.slick-dots li button:before {
  font-size: 12px !important;
}

.slick-dots li.slick-active button:before {
  color: #10b981 !important;
}
